body {
    margin: 0;  /* tinatanggal ang default margin ng browser*/
    font-family: Arial, sans-serif; /* pinapalitan nito ang font ng buong page*/
    video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 50%;
            object-fit: cover;
            z-index: -1;
        }
    background-size: cover;      /* Sinasakop ang buong page */
    background-position: center; /* Cinecenter ang image */
    background-repeat: no-repeat;
    color: #333; /* default color ng text*/
}
nav {
    background-color: #1565c0;  /*kulay ng navigation bar*/
    padding: 10px 20px; /* space sa loob ng nav*/
    display: flex;    /* ginagawa flex container ang nav*/
    justify-content: center;  /* cinecenter ang links */
    gap: 20px;    /*distance sa pagitan ng mg link */
}
nav a {
    text-decoration: none;   /* tinatanggal ang underline sa  links */
    color: white;     /* kulay ng text sa link */
    font-weight: bold;    /* ginawang bold ang text ng links*/
    padding: 6px 12px;      /* space sa loob ng links*/
    border-radius: 4px;      /* pabilog na sulok ng links*/
    transition: background-color 0.3s;   /* smooth effect*/
}
nav a:hover {
    background-color: #1976D2; /* kulay blue na hover*/
}

nav a.active {
    background-color: #0d47a1;   /* dark blue na kulay para sa active page*/
}

main {
    padding: 40px 20px;  /* space sa paligid ng main content */
    max-width: 800px;  /* maximum width content */
    margin: auto;     /* gitna sa page*/
    background-color: rgba(0, 0, 0, 0.5); ; 
    border-radius: 10px;   /* pabilog na sulog ng main content*/ 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* shadow effect sa content */

}
h1, h2, h3 {
    color: White;  
}

p {
    line-height: 1.6;  /* space sa pagitan ng mga line*/
    color: white;
}

img {
    max-width: 40%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.image-container {
    display: flex;          /* ginagawa netong side by side yung picture */
    justify-content: center; /* Cinecent3r ang image */
    gap: 10px;              /* space ng bawat image*/
}

.image-container img {
    width: 180px;           /* size ng image */
    height: auto;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }
    main {
        padding: 20px 10px;
    }
}
}
